*{
  margin: 0;
  padding: 0;
}
body{
  /* background-color: #e9ca65; */
  background-color: #020403;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
.navbar-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.navbar-menu-mobile {
  color: #adadad;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-decoration: none;
}
.navbar-container {
  position: absolute;
  background: #020403;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease; 
  margin: 0px;
  padding: 0px;
}
nav .navbar-container .navbar-item{
  padding: 10px 0px;
}
.navbar-link {
  font-size: 1.5rem; 
}
#navbar-header:target .navbar-container {
  height: 300px; 
}
#navbar-header:target .open {
  display: none; 
}
#navbar-header:target .close {
  display: flex; 
}
.close {
  display: none; 
}
.navbar-container li a {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}
.navbar-container li{
  list-style: none;
}

@media (min-width: 950px) {
  .navbar-menu-mobile {
    display: none; 
  }
  nav .navbar-container {
    height: auto;
    flex-direction: row;
    position: static;
    justify-content: center;
    
  } 
  nav .navbar-container li a {
    font-size: 20px;
    color: #ffffff;
    margin: 20px;
  }
  .habil .caja_habi .habi_uno{
    display: flex;
    justify-content: center;
  }
  .cuerpo .habil .caja_habi .habi_uno div {
    margin: 20px 80px;  
  }
  
  .habil .caja_habi .habi_dos{
  display: flex;
  justify-content: center;
  }
  .cuerpo .habil .caja_habi .habi_dos div {
    margin: 20px 80px;
  }
  .cuerpo .experience .bloque{
  margin: 25px 100px;
  }
  .cuerpo .experience .bloque h3{
    margin: 0px 100px 0px 200px; 
  }
  .habil .caja_habi .habi_tres{
    display: flex;
    justify-content: center;
  }
  .cuerpo .habil .caja_habi .habi_tres div{
    margin: 20px 70px;
  }
  .contac {
    display: flex;
    justify-content: center;
  }
      
  .cuerpo .descrip p {
    padding: 25px 95px;
  }

  .cuerpo .porta{
    justify-content: center;
    text-align: center;
    margin: 0px 0px 0px 100px;
  }

        .cuerpo .porta section {
          display: flex;
          height: 400px;
          align-items: center;
          
        }
    
        .cuerpo .porta section img {
          width: 0px;
          flex-grow: 1;
          object-fit: cover;
          opacity: .8;
          transition: .5s ease;
          padding: 20px ;
        }
    
        .cuerpo .porta section img:hover {
          cursor: crosshair;
          width: 500px;
        }
  }

/* 🦴cuerpo🦴 */

.cuerpo .me img{
  width: 250px;
  margin: 50px 20px 20px 20px;
  border-radius: 100%;
}

.cuerpo div{
  text-align: center;
}
.cuerpo h1{
  color: #ffffff;
  font-size: 40px;
}
body h2{
  color: #ffffff;
  font-size: 35px;
  margin: 10px;
}
.cuerpo .redes{
  display: flex;
  justify-content: center;
  margin: 20px 25px 80px 25px;
}
.cuerpo .redes a{
  padding: 20px;
  font-size: 45px;
  color: #adadad;
}
.cuerpo .descrip p{
  text-align: center;
  margin: 25px 50px 50px 50px;
  color: #adadad;
}

.cuerpo .habil .caja_habi{
  justify-content: center;
  margin: 35px;
  color: #adadad;
}
.cuerpo .habil .caja_habi i{
  background-color: #212121;
  border-radius: 30px;
  padding: 20px;
  color: #ffffff;
  font-size: 25px;
}

.cuerpo .habil .caja_habi div{
    margin: 25px 25px 50px 25px;
}


.cuerpo .porta h2{
  color: #ffffff;
  text-align: start;
  margin: 90px 20px 20px 20px;
  font-size: 35px;
}
.cuerpo .porta section img {
  width: 300px;
  margin: 20px 0px;
}

/* 🦴pie de pagina🦴 */

.descarga a{
  color: #020403;
  text-decoration: none;
  background-color: #adadad;
  padding: 5px;
  border-radius: 3px;
}
footer h5 {
  text-align: center;
  color: #adadad;
  font-size: 20px;
  margin: 50px 20px;
}

/* form */

ul {
  list-style: none;
  padding: 0;
}


.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper>* {
  padding: 1em;
}

.contact-form {
  background: #222222;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #ffffff;
  border-bottom: 1px solid #adadad;
}

.contact-form form button {
  background: #adadad;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #ffffff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.contact-info {
  background: #020403;
}

.contact-info ul li{
  margin: 10px 0px 20px 0px;
}
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
  body {
    padding: 0 4em;
  }

  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contact-wrapper>* {
    padding: 2em;
  }

  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}
.content{
    color: #ffffff;
}